*{
    margin:0;
    padding: 0;
}

#head img{
    height: 600px;
}
h3{
    margin-top: 8px;
    padding: -5px;
    color:crimson;
    text-align: center;
    text-shadow:-3px 3px rgb(202 21 138);
}
.single {
    margin-top: 8px;
    margin-bottom: -50px;
    padding: -5px;
    color:crimson;
    text-align: center;
    text-shadow:-3px 3px rgb(202 21 138);
}
video{
    height:300px;
    width: 300px;
}
#vid video{
    width:200px;
    border:1.5rem solid #fff;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    height: 200px;
    object-fit: cover;
}
 #vid h4{
     color: white;
    position: absolute;
    top:80%; transform: translateY(-50%);
    font-size: 1rem;
    background:grey;
    width:100%;
    padding:1rem 2rem;
    text-align: center;
    mix-blend-mode: screen;
}
 #vide h4{
     color: white;
    position: absolute;
    top:80%; transform: translateY(-50%);
    font-size: 1rem;
    background:grey;
    width:100%;
    padding:1rem 2rem;
    text-align: center;
    mix-blend-mode: screen;
}
#vid video{
    width:540px;
    border:1.5rem solid #fff;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    height: 350px;
    object-fit: cover;
}

    .video-container{
    flex:1 1 40rem;
    position: relative;
}
#online{
    border: 2px solid grey;
    background:url( online_bg.jpg);
    padding:10px;
}
.pubg{
    color:burlywood;
}
#offline{
    margin-top: 30px;
    background:url(offline.jpg);
    padding:10px;
   /* background-repeat: no-repeat;
   background-size: 100%;*/
}
.gta{
    color: burlywood;
}
#foot{
    background:black;
}
#trending{
    padding:10px;
}
#contact{
    padding: 10px;
}
 .row{
   padding-top: 18px;
}
.col-lg-4{
    padding-top: 8px;
}
